<phpunit bootstrap="bootstrap.php"
		colors="false"
		convertErrorsToExceptions="true"
		convertNoticesToExceptions="true"
		convertWarningsToExceptions="true"
		stopOnFailure="false">

        <testsuites>
            <testsuite name="Unit tests">
                <directory>src</directory>
            </testsuite>
            <testsuite name="MBank">
                <file>src/MBank/Tests/iOS/LoginFormTest.php</file>
                <file>src/MBank/Tests/iOS/ProfileTest.php</file>
                <file>src/MBank/Tests/iOS/TransferTest.php</file>
            </testsuite>
        </testsuites>


</phpunit>
